In [6]:
!python.exe -m pip install --upgrade pip
# conn = sqlite3.connect("data.sqlite")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\program files\python311\lib\site-packages (22.3.1)
Collecting pip
  Downloading pip-23.0.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 1.3 MB/s eta 0:00:00
Installing collected packages: pip
Successfully installed pip-23.0.1

In [1]:
import sqlite3
conn= sqlite3.connect('data.sqlite')
curr = conn.cursor()
engine = create_engine("sqlite:///data.sqlite", echo=False)

NameError: name 'create_engine' is not defined

In [6]:
curr.execute("SELECT * FROM FIRES LIMIT 10")

In [14]:
import pandas as pd
df = pd.read_sql_query("SELECT STATE FROM Fires;", conn)

TypeError: 'Index' object is not callable

In [13]:
df

Index(['STATE'], dtype='object')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_sql_query("select NWCG_GENERAL_CAUSE, count(NWCG_GENERAL_CAUSE) as count from fires where state = 'AK' group by NWCG_GENERAL_CAUSE order by count(NWCG_GENERAL_CAUSE) DESC LIMIT 10;", conn)
df

                           NWCG_GENERAL_CAUSE  count
0                                     Natural   5089
1     Missing data/not specified/undetermined   2652
2                     Debris and open burning   2585
3                     Recreation and ceremony   1880
4                   Misuse of fire by a minor    567
5  Power generation/transmission/distribution    465
6                   Equipment and vehicle use    464
7                                Other causes    428
8                          Arson/incendiarism    382
9                                     Smoking    273

In [ ]:
causes = "select NWCG_GENERAL_CAUSE, count(NWCG_GENERAL_CAUSE) as count from fires where state = 'ak' group by NWCG_GENERAL_CAUSE order by count(NWCG_GENERAL_CAUSE) DESC LIMIT 10"

In [3]:

from sqlalchemy import create_engine
engine = create_engine('sqlite:///data.sqlite')
import pandas as pd

In [4]:
connection = engine.connect()

# Query for total fires per year US
total_years_fire = "select fire_year, count(state) as state_count from fires where fire_year >= 1996 group by fire_year order by fire_year LIMIT 20"
# United_States_total = pd.read_sql(total_years_fire, connection)
United_States_total = pd.read_sql(total_years_fire, connection)
# Format the data for Plotly
US = {
    "x": United_States_total["FIRE_YEAR"].values.tolist(),
    "y": United_States_total["state_count"].values.tolist(),
    "type": "'scatter'"
}

In [5]:
United_States_total

    FIRE_YEAR  state_count
0        1996        75561
1        1997        61442
2        1998        68356
3        1999        89350
4        2000        96396
5        2001        87001
6        2002        76128
7        2003        68275
8        2004        69370
9        2005        92921
10       2006       117943
11       2007        98837
12       2008        88306
13       2009        81492
14       2010        85579
15       2011        98903
16       2012        74258
17       2013        66434
18       2014        70480
19       2015        77275

In [10]:
for r in rows:
    print(r)

(1, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xc8\\xce\\n[_@^\\xc0\\xe8C|l\\xba\\x04D@\\xc8\\xce\\n[_@^\\xc0\\xe8C|l\\xba\\x04D@|\\x01\\x00\\x00\\x00\\xc8\\xce\\n[_@^\\xc0\\xe8C|l\\xba\\x04D@\\xfe'", 1, 'FS-1418826', 'FED', 'FS-FIRESTAT', 'FS', 'USCAPNF', 'Plumas National Forest', '0511', 'Plumas National Forest', '1', 'PNF-47', 'BJ8K', 'FOUNTAIN', '', '', '', '', '', 2005, '2/2/2005', 33, '1300', 'Human', 'Power generation/transmission/distribution', '', '2/2/2005', '33', '1730', 0.1, 'A', 40.03694444, -121.00583333, 'USFS', 'CA', '63', '06063', 'Plumas County')
(2, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xc8\\xe594\\xe2\\x19^\\xc0\\xa0\\xe4\\xc51nwC@\\xc8\\xe594\\xe2\\x19^\\xc0\\xa0\\xe4\\xc51nwC@|\\x01\\x00\\x00\\x00\\xc8\\xe594\\xe2\\x19^\\xc0\\xa0\\xe4\\xc51nwC@\\xfe'", 2, 'FS-1418827', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '13', '13', 'AAC0', 'PIGEON', '', '', '', '', '', 2004, '5/12/2004', 133, '0845', 'Natural', 'Natural', '', '5/12/2004', '133', '1530', 0.25, 'A', 38.93305556, -120.40444444, 'USFS', 'CA', '61', '06061', 'Placer County')
(3, "b'\\x00\\x01\\xad\\x10\\x00\\x00x{\\xac \\x13/^\\xc0@\\xf2\\x03\\x01\\xf9}C@x{\\xac \\x13/^\\xc0@\\xf2\\x03\\x01\\xf9}C@|\\x01\\x00\\x00\\x00x{\\xac \\x13/^\\xc0@\\xf2\\x03\\x01\\xf9}C@\\xfe'", 3, 'FS-1418835', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '27', '021', 'A32W', 'SLACK', '', '', '', '', '', 2004, '5/31/2004', 152, '1921', 'Human', 'Debris and open burning', '', '5/31/2004', '152', '2024', 0.1, 'A', 38.98416667, -120.73555556, 'STATE OR PRIVATE', 'CA', '17', '06017', 'El Dorado County')
(4, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xc8\\x13u\\xd7s\\xfa]\\xc0\\xf8\\xdbg\\x9a\\x92GC@\\xc8\\x13u\\xd7s\\xfa]\\xc0\\xf8\\xdbg\\x9a\\x92GC@|\\x01\\x00\\x00\\x00\\xc8\\x13u\\xd7s\\xfa]\\xc0\\xf8\\xdbg\\x9a\\x92GC@\\xfe'", 4, 'FS-1418845', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '43', '6', '', 'DEER', '', '', '', '', '', 2004, '6/28/2004', 180, '1600', 'Natural', 'Natural', '', '7/3/2004', '185', '1400', 0.1, 'A', 38.55916667, -119.91333333, 'USFS', 'CA', '3', '06003', 'Alpine County')
(5, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xd0\\x11y\\xf8\\xb6\\xfb]\\xc0\\xb8\\x01j\\x9a\\x92GC@\\xd0\\x11y\\xf8\\xb6\\xfb]\\xc0\\xb8\\x01j\\x9a\\x92GC@|\\x01\\x00\\x00\\x00\\xd0\\x11y\\xf8\\xb6\\xfb]\\xc0\\xb8\\x01j\\x9a\\x92GC@\\xfe'", 5, 'FS-1418847', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '44', '7', '', 'STEVENOT', '', '', '', '', '', 2004, '6/28/2004', 180, '1600', 'Natural', 'Natural', '', '7/3/2004', '185', '1200', 0.1, 'A', 38.55916667, -119.93305556, 'USFS', 'CA', '3', '06003', 'Alpine County')
(6, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\x04\\xb1$Z\\xa1\\x06^\\xc08\\x0c\\xbb\\x9cPQC@\\x04\\xb1$Z\\xa1\\x06^\\xc08\\x0c\\xbb\\x9cPQC@|\\x01\\x00\\x00\\x00\\x04\\xb1$Z\\xa1\\x06^\\xc08\\x0c\\xbb\\x9cPQC@\\xfe'", 6, 'FS-1418849', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '54', '8', '', 'HIDDEN', '', '', '', '', '', 2004, '6/30/2004', 182, '1800', 'Natural', 'Natural', '', '7/1/2004', '183', '1600', 0.1, 'A', 38.63527778, -120.10361111, 'USFS', 'CA', '5', '06005', 'Amador County')
(7, 'b\'\\x00\\x01\\xad\\x10\\x00\\x00\\xf0\\xda0\\x00\\xd0\\t^\\xc0\\x00\\xf6\\xee"\\x1bXC@\\xf0\\xda0\\x00\\xd0\\t^\\xc0\\x00\\xf6\\xee"\\x1bXC@|\\x01\\x00\\x00\\x00\\xf0\\xda0\\x00\\xd0\\t^\\xc0\\x00\\xf6\\xee"\\x1bXC@\\xfe\'', 7, 'FS-1418851', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '58', '9', '', 'FORK', '', '', '', '', '', 2004, '7/1/2004', 183, '1800', 'Natural', 'Natural', '', '7/2/2004', '184', '1400', 0.1, 'A', 38.68833333, -120.15333333, 'USFS', 'CA', '17', '06017', 'El Dorado County')
(8, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xace\\xb3\\x9c\\xc4\\x9b^\\xc00\\xde\\x11\\x13\\xe9{D@\\xace\\xb3\\x9c\\xc4\\x9b^\\xc00\\xde\\x11\\x13\\xe9{D@|\\x01\\x00\\x00\\x00\\xace\\xb3\\x9c\\xc4\\x9b^\\xc00\\xde\\x11\\x13\\xe9{D@\\xfe'", 8, 'FS-1418854', 'FED', 'FS-FIRESTAT', 'FS', 'USCASHF', 'Shasta-Trinity National Forest', '0514', 'Shasta-Trinity National Forest', '3', '02', 'BK5X', 'SLATE', '', '', '', '', '', 2005, '3/8/2005', 67, '1300', 'Human', 'Debris and open burning', '', '3/8/2005', '67', '1600', 0.8, 'B', 40.96805556, -122.43388889, 'STATE OR PRIVATE', 'CA', '', '', '')
(9, "b'\\x00\\x01\\xad\\x10\\x00\\x00,\\x89\\xd7\\xe8!\\x92^\\xc0\\xc0h6\\xcc\\xe6\\x9dD@,\\x89\\xd7\\xe8!\\x92^\\xc0\\xc0h6\\xcc\\xe6\\x9dD@|\\x01\\x00\\x00\\x00,\\x89\\xd7\\xe8!\\x92^\\xc0\\xc0h6\\xcc\\xe6\\x9dD@\\xfe'", 9, 'FS-1418856', 'FED', 'FS-FIRESTAT', 'FS', 'USCASHF', 'Shasta-Trinity National Forest', '0514', 'Shasta-Trinity National Forest', '5', '03', 'BLPQ', 'SHASTA', '', '', '', '', '', 2005, '3/15/2005', 74, '1200', 'Human', 'Debris and open burning', '', '3/15/2005', '74', '1700', 1.0, 'B', 41.23361111, -122.28333333, 'STATE OR PRIVATE', 'CA', '', '', '')
(10, "b'\\x00\\x01\\xad\\x10\\x00\\x00\\xfc\\x12\\x07\\xbc\\x8b\\t^\\xc0\\xc0\\x02\\xea\\x9d/FC@\\xfc\\x12\\x07\\xbc\\x8b\\t^\\xc0\\xc0\\x02\\xea\\x9d/FC@|\\x01\\x00\\x00\\x00\\xfc\\x12\\x07\\xbc\\x8b\\t^\\xc0\\xc0\\x02\\xea\\x9d/FC@\\xfe'", 10, 'FS-1418859', 'FED', 'FS-FIRESTAT', 'FS', 'USCAENF', 'Eldorado National Forest', '0503', 'Eldorado National Forest', '61', '10', '', 'TANGLEFOOT', '', '', '', '', '', 2004, '7/1/2004', 183, '1800', 'Natural', 'Natural', '', '7/2/2004', '184', '1800', 0.1, 'A', 38.54833333, -120.14916667, 'USFS', 'CA', '5', '06005', 'Amador County')